In [2]:
import pandas as pd

y = pd.Period('2016')
y  # A-DEC means period is annual and ends in december.

Period('2016', 'A-DEC')

In [3]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2011-1',freq='M')

In [6]:
m

Period('2011-01', 'M')

In [7]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [8]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [10]:
m = m + 1

In [11]:
m

Period('2011-02', 'M')

In [12]:
d = pd.Period('2016-02-28', freq='D')

In [13]:
d

Period('2016-02-28', 'D')

In [14]:
d+1  # The Period takes care of if the year is leap year or not. For example in this case d + 1 will be 29th feb

Period('2016-02-29', 'D')

In [17]:
q  = pd.Period('2017Q1')

In [18]:
q + 1

Period('2017Q2', 'Q-DEC')

In [19]:
# Q-DEC means quater ending in december. Some companies have quater ending in Jan for those we can do like this
q = pd.Period('2017Q1', freq='Q-JAN')

In [20]:
q

Period('2017Q1', 'Q-JAN')

In [21]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [22]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [23]:
q.asfreq('M', how="end")

Period('2016-04', 'M')

In [24]:
q = pd.Period('2017Q1', freq='Q-JAN')
q2 = pd.Period('2017Q2',freq='Q-JAN')

In [25]:
q2 - q

1

In [27]:
idx = pd.period_range('2011', '2017', freq='Q-JAN')
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [29]:
idx[0].start_time

Timestamp('2010-11-01 00:00:00')

In [30]:
idx[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [31]:
idx = pd.period_range('2011',periods=10, freq='Q-JAN')

In [32]:
idx

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [37]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)

In [38]:
ps

2011Q4   -0.157823
2012Q1   -0.003771
2012Q2   -0.219314
2012Q3    0.981486
2012Q4   -2.074236
2013Q1   -0.103541
2013Q2    0.137391
2013Q3    0.271777
2013Q4    0.793735
2014Q1    0.629268
Freq: Q-JAN, dtype: float64

In [36]:
ps.index

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [40]:
pst = ps.to_timestamp()

In [41]:
pst

2010-11-01   -0.157823
2011-02-01   -0.003771
2011-05-01   -0.219314
2011-08-01    0.981486
2011-11-01   -2.074236
2012-02-01   -0.103541
2012-05-01    0.137391
2012-08-01    0.271777
2012-11-01    0.793735
2013-02-01    0.629268
Freq: QS-NOV, dtype: float64

In [42]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [43]:
pst.to_period()

2010Q4   -0.157823
2011Q1   -0.003771
2011Q2   -0.219314
2011Q3    0.981486
2011Q4   -2.074236
2012Q1   -0.103541
2012Q2    0.137391
2012Q3    0.271777
2012Q4    0.793735
2013Q1    0.629268
Freq: Q-DEC, dtype: float64

In [44]:
pst.index

DatetimeIndex(['2010-11-01', '2011-02-01', '2011-05-01', '2011-08-01',
               '2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [45]:
wmt_pd = pd.read_csv('wmt.csv')

In [46]:
wmt_pd.head()

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [47]:
wmt_pd.set_index('Line Item', inplace=True)

In [48]:
wmt_pd.head()

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [49]:
wmt_pd = wmt_pd.T
wmt_pd.head()

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [51]:
wmt_pd.index

Index([u'2017Q1', u'2017Q2', u'2017Q3', u'2017Q4', u'2018Q1'], dtype='object')

In [52]:
wmt_pd.index = pd.PeriodIndex(wmt_pd.index, freq='Q-JAN')

In [54]:
wmt_pd.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [55]:
wmt_pd['start_date'] = wmt_pd.index.map(lambda x : x.start_time)

In [56]:
wmt_pd

Line Item  Revenue  Expenses  Profit start_date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [57]:
wmt_pd['end_date'] = wmt_pd.index.map(lambda x: x.end_time)

In [58]:
wmt_pd

Line Item  Revenue  Expenses  Profit start_date   end_date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30