In [7]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [8]:
df = pd.read_csv('data_frames_basics.csv')

In [10]:
df = pd.DataFrame(weather_data) # dataframe from a dictionary

In [11]:
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [12]:
df.shape

(6, 4)

In [14]:
rows, columns = df.shape

In [15]:
rows

6

In [17]:
df.head(2)  # gets initial few rows.. df.tail() works in a similar wau

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7

In [18]:
df.columns # this will print all the columns

Index([u'day', u'event', u'temperature', u'windspeed'], dtype='object')

In [19]:
type(df['day'])  # type of columns in data frames will be of series

pandas.core.series.Series

In [20]:
df['temperature'].max()

35

In [21]:
df['temperature'].min()

24

In [22]:
df['temperature'].mean()

30.333333333333332

In [23]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [24]:
df[df.temperature >= 32]

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
4  1/5/2017   Rain           32          4

In [28]:
df[df.temperature == df.temperature.max()]

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [29]:
# the list of operations can be found when we search pandas series operations

In [32]:
#changing index

df.set_index('day',inplace=True)

In [33]:
df.loc['1/4/2017']

event          Snow
temperature      24
windspeed         7
Name: 1/4/2017, dtype: object

In [34]:
df.reset_index(inplace=True)

In [35]:
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2